/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background: #333; /* Moved from inline HTML style to CSS */
}

/* Navigation bar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 51, 51, 0); /* Javascript overrides this */
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s;
}

.logo img {
    height: 25px;
}

.nav-links {
    list-style: none;
    display: flex;
    font-weight: bold;
}

.nav-links li {
    padding: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #000000;
}

.cta-button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-weight: bold;
}

.cta-button:hover {
    background-image: linear-gradient(to right, white 50%, #000 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: black;
    border-color: black;
    animation: slideBG 0.4s linear forwards;
}

@keyframes slideBG {
    from {
        background-position: right bottom;
    }
    to {
        background-position: left bottom;
    }
}

/* Hero section styles */
.hero-section {
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
    width: 100%;
}

.hero-video-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

    .hero-video-container iframe {
        box-sizing: border-box;
        height: 56.25vw;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        width: 177.77777778vh;
    }



.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.hero-content h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

/* About Us section styles */
.about-us {
    background-color: #f8f8f8;
    padding: 10px 0;
    text-align: center;
}

.about-us .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.about-us h2 {
    font-family: 'Proxima Nova', Sans-serif;
    color: #333;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    text-align: center;
    padding-top: 50px;
}

.about-us p {
    font-family: 'Proxima Nova', Sans-serif;
    color: #666;
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 1.4;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.about-us .video-container {
    position: relative;
    max-width: 750px;
    margin: 0 auto;
    padding-top: 56.25%;
    box-sizing: border-box;
}

.about-us .video-container h2 {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    color: #333;
    z-index: 10;
    width: 90%;
    text-align: center;
}

.about-us .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container button#watchReelBtn {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.video-container button#watchReelBtn:hover {
    background-color: #333;
}

/* Get Started section styles */
.get-started {
    background-image: url('Images/start your project.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 46px;
    text-align: center;
    max-width: 500px;
    min-height: 550px;
    margin: 30px auto;
}

.get-started-content {
    padding: 0px;
}

.get-started-content h3 {
    margin-bottom: 15px;
    font-size: 60px;
    color: #FFFFFF;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.get-started-content p {
    margin-bottom: 25px;
    font-size: 2.5em;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: #FFFFFF;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.get-started .cta-button {
    background-color: black;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.get-started .cta-button:hover {
    color: black;
}

/* Footer styles */
footer {
    background-color: #161617;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
    font-family: 'Proxima Nova', sans-serif;
    border-top: 2px solid #444;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-column h3 {
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.portfolio-link {
    margin-top: 15px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: black;
}

.footer-column p, .footer-column p a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column p a:hover {
    color: #dddddd;
}

/* Popup Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 150%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Style the input fields and submit button */
.modal-content input[type=text],
.modal-content input[type=tel],
.modal-content input[type=email],
.modal-content input[type=date],
.modal-content textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal-content input[type=submit] {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content input[type=submit]:hover {
    background-color: #555;
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 20px;
    z-index: 1002;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        right: 0;
        top: 50px;
        background-color: none;
        width: 100%;
        z-index: 1001;
    }

    .nav-links li {
        padding: 10px 15px;
        text-align: right;
    }

    .nav-links li:last-child {
        border-bottom: none;
    }

    .nav-links a {
        transition: color 0.3s ease;
    }

    .nav-links a:hover {
        color: #0066cc;
    }

    .hero-content h1 {
        font-size: 1.5em;
    }

    .about-us .container, .get-started .container {
        padding: 0 10px;
    }

    .about-us h2, .get-started-content h3 {
        font-size: 2em;
    }

    .about-us p, .get-started-content p {
        font-size: 1em;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-column {
        margin-bottom: 20px;
    }

    .modal-content {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .hamburger {
        top: 5px;
        right: 15px;
    }

    .nav-links {
        top: 40px;
    }

    .about-us h2, .get-started-content h3 {
        font-size: 1.5em;
    }
}
